name: Publish

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Verify
        run: ./gradlew check
      - name: Build
        run: ./gradlew shadowJar
      - name: Publish to GitHub Packages Apache Maven
        run: ./gradlew publish
        env:
          GITHUB_TOKEN: ${{ github.token }}
